{% extends 'base.html.twig' %}

{% block title %}Fiche stagiaire{% endblock %}

{% block body %}
<div class="container">
    <h1>Fiche stagiaire</h1>
    <h2>{{ stagiaire }}</h2>
    <p>Genre :{{ stagiaire.sexe }}</p>
    <p>Date de naissance :{{ stagiaire.dateNaissance|date('d-m-Y')}} {{ stagiaire.age }}</p>
    <p>Ville :{{ stagiaire.ville }}</p>
    <p>Email :{{ stagiaire.email }}</p>
    <p>Telephone :{{ stagiaire.numTel }}</p>

    

        <h3>Session prévues</h3>
        
        <table class="table table-bordered table-primary table-striped">
            <th>
                <td>Session</td>
                <td>Date de debut</td>
                <td>Date de fin</td>
            </th>
            {# {% if session.formation.nom %} #}
        {% for session in stagiaire.sessions %}
                
            <tr>
                <td></td>
                <td><strong>{{ session.formation.nom}}</strong></td>
                <td>{{ session.dateDebut |date('d-m-Y') }}</td>
                <td>{{ session.dateFin |date('d-m-Y') }}</td>
            </tr>
            {# {% else %}
        
                <p>Aucune session prévue</p>
        
            {% endif %} #}
        {% endfor %}
        </table>
</div>

{% endblock %}