{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des différentes sessions</h1>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Intitulé Session</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Nb de places</th>
                <th scope="col">Nb places réservées</th>
                <th scope="col">Nb places libres</th>
                <th scope="col">Détail programme</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{ session.formation }}</td>
                <td>{{ session.dateDebut | date('d-m-Y') }}</td>
                <td>{{ session.dateFin | date('d-m-Y') }}</td>
                <td>{{ session.nbPlace }}</td>
                <td>{{ session.stagiaires | length }}</td>
                {% set A = session.nbPlace %}
                {% set B = session.stagiaires | length %}
                {% set C = A - B %}
                <td>{{ C }}</td>
                <td><a href="{{ path('app_prog_session',{'id': session.id}) }}" class="btn btn-outline-primary btn-sm">Programme</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('app_new_session') }}" class="btn btn-success mb-3">Ajouter une session</a>
    </div>
</div>
{% endblock %}
