{% extends 'base.html.twig' %}

{% block title %}Ajouter un module{% endblock %}

{% block body %}
<div class="container">
{{form_start(formAddModule)}}
<div class="row">
    <div class="col mb-3">
        {{ form_row(formAddModule.nom)}}
    </div>
    <div class="col">
        {{ form_row(formAddModule.categorie)}}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_row(formAddModule.valider)}}
    </div>
</div>
{{form_end(formAddModule)}}
</div>
{% endblock %}
